@font-face {
  font-family: SourceHanSansCN-Normal;
  src: url("/@/assets/font/SourceHanSansCN-Normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SourceHanSansCN-Regular;
  src: url("/@/assets/font/SourceHanSansCN-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SourceHanSansCN-Light;
  src: url("/@/assets/font/SourceHanSansCN-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: SourceHanSansCN-Medium;
  src: url("/@/assets/font/SourceHanSansCN-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SourceHanSansCN-Bold;
  src: url("/@/assets/font/SourceHanSansCN-Heavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
