$prefixCls: ec-descriptions-component;
:deep(.el-descriptions__header) {
  display: none !important;
}

:deep(.#{$prefixCls}-label) {
  width: 150px !important;
}

.#{$prefixCls} {
  &__default {
    .item{
      padding: 8px 11px;
      font-size: 14px;
    }
    .#{$prefixCls}-content{
       padding: 8px 0;
    }
  }

  &__small {
     .item{
       padding: 4px 7px;
       font-size: 12px;
     }
    .#{$prefixCls}-content{
      padding: 5px 0;
    }
  }

  &__large {
    .item{
      padding: 12px 15px;
      font-size: 16px;
    }
    .#{$prefixCls}-content{
      padding: 10px 0;
    }
  }

  &-header {
    &__default {
      font-size: 16px;
      height: 32px;
    }

    &__small {
      font-size: 14px;
      height: 32px;
    }

    &__large {
      font-size: 18px;
      height: 40px;
    }

    &__title {
      &::after {
        position: absolute;
        top: 3px;
        left: -10px;
        width: 4px;
        height: 70%;
        background: var(--el-color-primary);
        content: '';
      }
    }
  }
}
