$namespace: ec-flood-forecast;
$lock-page-z-index: 3000;
$HEADER_HEIGHT:84px;
$FOOTER_HEIGHT:30px;
$SLIDE_WIDTH:520px;
$SLIDE_MIN_WIDTH:400px;

$modal-header-height      :48px;
$menu-height              : 95px;
$navigation-height        : 83px;
$menu-width               : 110px;
$secondary-menu-height    : 40px;
$board-east-top           : 180px;
$board-east-width         : 20vw;
$board-west-top           : 180px;
$board-west-width         : 26vw;
$board-full-top           : 180px;